:root {
  --gray-1: #f8f9fa;
  --gray-2: #e9edef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #6c757d;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;

  --base-color: #8ecae6;
  --bg-color: var(--gray-3);
  --fg-color: var(--gray-9);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: "Josefin Sans", sans-serif;
  /* overflow-x: hidden; */
}

.dbg {
  outline: 1px solid red;
}

.main-header {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.main-container {
  width: 100%;
  /* height: fit-content; */
  display: flex;
  justify-items: start;
  align-items: start;
  position: absolute;
  top: calc(100% - 10rem);
  left: 0;
  padding: 2rem 0.76rem;
  background: var(--gray-2);
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0px 0px 60px -10px var(--gray-9);
}

.map-view {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-zoom {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  padding: 10px;
  margin: 0;
  border-radius: 1rem;
  box-shadow: 0px 0px 30px -10px var(--gray-7);
}

.shd {
  box-shadow: 0px 0px 30px -10px var(--gray-7);
}

.floating-card {
  display: flex;
  width: fit-content;
  padding: 1rem;
  background: var(--gray-2);
  border-radius: 999px;
  border: none;
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
